src2/test/java/org/jevis/jedatacollector/LoytecTests/LinxWSDL.xml

<?xml version="1.0" encoding="utf-8"?>
<!--  
      COPYRIGHT (c) 2008 LOYTEC. All rights reserved.
      Article Number 70013602
      http://www.loytec.com
-->
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://opcfoundation.org/webservices/XMLDA/1.0/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://loytec.com/wsdl/XMLDL/1.1/" xmlns="http://schemas.xmlsoap.org/wsdl/">
    <types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://loytec.com/wsdl/XMLDL/1.1/">    
            <s:element name="LogInfo">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="ReqBase" type="s0:logRequestBase" />
                    </s:sequence>
                    <s:attribute default="false" name="ReturnLogDir" type="s:boolean" />
                </s:complexType>
            </s:element>
            <s:element name="LogInfoResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="ReplyBase" type="s0:logReplyBase" />
                        <s:element minOccurs="1" maxOccurs="1" name="Status" type="s0:logStatus" />
                        <s:element minOccurs="0" maxOccurs="1" name="Dir" type="s0:logDirectory" />
                        <s:element minOccurs="0" maxOccurs="unbounded" name="Errors" type="s0:OPCError" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="logRequestBase">
                <s:attribute name="logHandle" type="s:string" />   
                <s:attribute name="clientItemHandle" type="s:string" />     
            </s:complexType>
            <s:complexType name="logReplyBase">
                <s:attribute name="logHandle" type="s:string" />   
                <s:attribute name="clientItemHandle" type="s:string" />     
            </s:complexType>
            <s:complexType name="logStatus">
                <s:attribute name="LogID" type="s:unsigned" />
                <s:attribute name="StopWhenFull" type="s:boolean" use="required" />
                <s:attribute name="Enable" type="s:boolean" use="required" />
                <s:attribute name="FirstSeqNum" type="s:unsigned" use="required" />
                <s:attribute name="RecCnt" type="s:unsigned" use="required" />
                <s:attribute name="TotalCnt" type="s:unsigned" use="required" />
                <s:attribute name="BufferSize" type="s:unsigned" use="required" />
                <s:attribute name="InterfaceVersion" type="s0:interfaceVersion" use="required" />
            </s:complexType>      
            <s:simpleType name="InterfaceVersion">
                <s:restriction base="s:string">
                    <s:enumeration value="XML_DL_Version_1_0" />
                    <s:enumeration value="XML_DL_Version_1_1" />
                </s:restriction>
            </s:simpleType>
            <s:complexType name="logDirectory">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="unbounded" name="Items" type="s0:logDirItem" />
                </s:sequence>
                <s:attribute name="NumItems" type="s:int" use="required" />
            </s:complexType>      
            <s:complexType name="logDirItem">
                <s:attribute name="ItemIndex" type="s:unsigned" use="required" />
                <s:attribute name="ItemID" type="s:unsigned" use="required" />
                <s:attribute name="ItemName" type="s:string" use="required" />
                <s:attribute name="ItemAggregation" type="s0:aggregationType" use="optional" default="val"/>
            </s:complexType>      
            <s:element name="LogRead">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="ReqBase" type="s0:logRequestBase" />
                    </s:sequence>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="Filter" type="s0:directoryFilter" />
                    </s:sequence>
                    <s:attribute name="StartDateTime" type="s:dateTime" />
                    <s:attribute name="StartSeqNum" type="s:unsigned" />
                    <s:attribute name="NumItems" type="s:int" />
                    <s:attribute name="ReturnCompleteSet" type="s:boolean" use="optional"/>
                    <s:attribute name="RequestedItems" type="s:int" use="optional"/>
                    <s:attribute name="RequestedDuration" type="s:int" use="optional"/>
                    <s:attribute name="RequestedAggregation" type="s0:aggregationType" use="optional" />
                    <s:attribute name="AggregationIval" type="s:unsigned" use="optional" />
                    <s:attribute name="HexFloat" type="boolean" use="optional" default="false" />
                </s:complexType>
            </s:element>
            <s:complexType name="directoryFilter">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="unbounded" name="Items" type="s0:filterItem" />
                </s:sequence>
            </s:complexType>
            <s:complexType name="filterItem">
                <s:attribute name="ItemIndex" type="s:unsigned" use="required" />
            </s:complexType>
            <s:element name="LogReadResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="ReplyBase" type="s0:logReplyBase" />
                        <s:element minOccurs="0" maxOccurs="1" name="RItemList" type="s0:logItemList" />
                        <s:element minOccurs="0" maxOccurs="unbounded" name="Errors" type="s0:OPCError" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="logItemList">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="Items" type="s0:logItem" />
                </s:sequence>
                <s:attribute name="FirstSeqNum" type="s:unsigned" />
                <s:attribute name="NextSeqNum" type="s:unsigned" />
                <s:attribute name="NumItems" type="s:unsigned" />
                <s:attribute name="RemainingItems" type="s:unsigned" use="optional"/>
            </s:complexType>
            <s:complexType name="logItem">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="Value" type="s0:logValue" />
                    <s:element minOccurs="0" maxOccurs="1" name="Quality" type="s0:OPCQuality" />
                    <s:element minOccurs="0" maxOccurs="1" name="Enable" type="s:boolean" />
                    <s:element minOccurs="0" maxOccurs="1" name="Purge" type="s:boolean" />
                    <s:element minOccurs="0" maxOccurs="1" name="TimeChange" type="s:int" />
                    <s:element minOccurs="0" maxOccurs="1" name="Error" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="ResultID" type="s:unsigned" />
                </s:sequence>
                <s:attribute name="ItemIndex" type="s:unsigned" />
                <s:attribute name="Timestamp" type="s:dateTime" use="required" />
            </s:complexType>
            <s:complexType name="logValue">
                <s:attribute name="Status" type="s:unsigned" use="optional" default="0" />
            </s:complexType>      
            <s:complexType name="OPCQuality">
                <s:attribute default="good" name="QualityField" type="s0:qualityBits" />
                <s:attribute default="none" name="LimitField" type="s0:limitBits" />
                <s:attribute default="0" name="VendorField" type="s:unsignedByte" />
            </s:complexType>
            <s:simpleType name="qualityBits">
                <s:restriction base="s:string">
                    <s:enumeration value="bad" />
                    <s:enumeration value="badConfigurationError" />
                    <s:enumeration value="badNotConnected" />
                    <s:enumeration value="badDeviceFailure" />
                    <s:enumeration value="badSensorFailure" />
                    <s:enumeration value="badLastKnownValue" />
                    <s:enumeration value="badCommFailure" />
                    <s:enumeration value="badOutOfService" />
                    <s:enumeration value="badWaitingForInitialData" />
                    <s:enumeration value="uncertain" />
                    <s:enumeration value="uncertainLastUsableValue" />
                    <s:enumeration value="uncertainSensorNotAccurate" />
                    <s:enumeration value="uncertainEUExceeded" />
                    <s:enumeration value="uncertainSubNormal" />
                    <s:enumeration value="good" />
                    <s:enumeration value="goodLocalOverride" />
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="limitBits">
                <s:restriction base="s:string">
                    <s:enumeration value="none" />
                    <s:enumeration value="low" />
                    <s:enumeration value="high" />
                    <s:enumeration value="constant" />
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="aggregationType">
                <s:restriction base="s:string">
                    <s:enumeration value="val" />
                    <s:enumeration value="min" />
                    <s:enumeration value="max" />
                    <s:enumeration value="avg" />
                </s:restriction>
            </s:simpleType>
            <s:complexType name="OPCError">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string" />
                </s:sequence>
                <s:attribute name="ID" type="s:QName" use="required" />
            </s:complexType>
        </s:schema>
    </types>
    <message name="LogInfoSoapIn">
        <part name="parameters" element="s0:LogInfo" />
    </message>
    <message name="LogInfoSoapOut">
        <part name="parameters" element="s0:LogInfoResponse" />
    </message>
    <message name="LogReadSoapIn">
        <part name="parameters" element="s0:LogRead" />
    </message>
    <message name="LogReadSoapOut">
        <part name="parameters" element="s0:LogReadResponse" />
    </message>
    <portType name="Service">
        <operation name="LogInfo">
            <input message="s0:LogInfoSoapIn" />
            <output message="s0:LogInfoSoapOut" />
        </operation>
        <operation name="LogRead">
            <input message="s0:LogReadSoapIn" />
            <output message="s0:LogReadSoapOut" />
        </operation>
    </portType>
    <binding name="Service" type="s0:Service">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <operation name="LogInfo">
            <soap:operation soapAction="http://loytec.com/wsdl/XMLDL/1.1/LogInfo" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="LogRead">
            <soap:operation soapAction="http://loytec.com/wsdl/XMLDL/1.1/LogRead" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
</definitions>
